.container{
    max-width: 960px;
    background: red;
    height: auto;
    display: flex;
}
.item1,.item2{
    height: 200px;
}

.item1{
    background: rebeccapurple;
    flex: 0 0 20%;
}






.item2{
    background: salmon;
     flex: 0 0 40%;
}
